notebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="PhoneTypeWork">
    <xs:restriction base="xs:string">
      <xs:enumeration value="work"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PhoneTypeHome">
    <xs:restriction base="xs:string">
      <xs:enumeration value="home"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PhoneType">
    <xs:union memberTypes="PhoneTypeWork PhoneTypeHome"/>
  </xs:simpleType>

  <xs:complexType name="officesType">
    <xs:sequence>
      <xs:element name="office" type="officeType" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="officeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" type="xs:ID" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="name" type="nameType"/>
      <xs:element name="address" type="addressType"/>
      <xs:element name="phones" type="phonesType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="office" type="xs:IDREF" use="required"/>
  </xs:complexType>

  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element name="first" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressType">
    <xs:all>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="index" type="indexType"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="indexType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="phonesType">
    <xs:sequence>
      <xs:element name="phone" type="phoneType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneType">
    <xs:simpleContent>
      <xs:extension base="phoneKolvoNumberType">
        <xs:attribute name="type" type="PhoneType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="phoneKolvoNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-\d{2}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="notebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="offices" type="officesType" />
        <xs:element name="person" type="personType" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>